<label>Server Name</label>
<!-- <input 
    type="text" 
    class="form-control"
    id="one-way-binding"
    (input)="onUpdateServerName($event)"> -->
<input 
    type="text" 
    class="form-control" 
    id="two-way-binding"
    [(ngModel)]="serverName">
<!-- <p>{{ serverName }}</p> -->
<button 
    class="btn btn-primary" 
    [disabled]="!allowNewServer" 
    (click)="onCreateServer()">Add Server</button>
<p *ngIf="serverCreated; else noServer">{{ serverCreationStatus }}</p>
<ng-template #noServer>
    <p>No server was created!</p>
</ng-template>
<app-server></app-server>
<app-server></app-server>